body{
    background-image:url(/Image/grass_113584537.jpg) ;
    opacity:1;
    background-repeat:no-repeat;
    background-position:right top, left top ;

}
* {
    box-sizing: border-box;
}
/*the code for styling the header portion of the html document*/
hr{
    width: 50%;
}
header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-transform: uppercase;
    font-size: 40px;
}
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: sticky;
    padding: 10px 40px;
    float: right;
    top: 0;
    font-size: 17px;
}
nav a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    letter-spacing: 2px;
}
.logo {
    display: inline;
    margin: 15px;
}
header {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url(/Image/tisabay2.jpg);
}
nav {
    display: inline;
}
/*the css file for the next component of the page*/
/*#################################################
###################################################
###################################################*/
#title-heading{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;
text-align: center;
font-size: 50px;
}
.title-block p{
font-family: 'Lobster Two',cursive;
font-size: 25px;
text-align: center;
font-weight: lighter;
color: white;
}
.title-block{
background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(/Image/tisabay2.jpg);
}
.image-block img{
    margin: auto;
    border-radius: 20%;
    box-shadow: 5px 15px 0px rgba(0, 0, 0,0.6)
}
/*the css for the third component*/
/*##################################################
####################################################
####################################################
*/
.guiding-block p{
    text-align:center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(/Image/tisabay2.jpg);
    padding: 30px 5px;
    margin: 40px 200px;
    font-family: 'Abril Fatface',cursive;
}
.about-ethiopia h1 {
    font-family: 'Rubik Vinyl', cursive;
    text-align:left;
    color: rgb(86, 62, 62);
    font-weight: 1700px;
}
ol{
    list-style-type:square;
}
ol li{
    font-weight:900;
    font-size: 20px;
}
ul{
list-style-type: square;
}
ul li {
    font-weight: 900;
    font-size: 15px;
}
.about-ethiopia p{
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(/Image/green.jpg);
        color: white;
        text-align:center;
        padding: 30px;
        margin: 25px;
}
.about-ethiopia audio{
    transition: all 0.5s linear;
    box-shadow: 2px 2px 4px 0px #006773;
    border-radius: 8px;
    width:30%;
    height: 8vh;
    background-color: black;
    margin:auto;
    display: flex;
    align-items: center;
}
.about-ethiopia audio:hover, .about-ethiopia audio:focus, .about-ethiopia audio:active {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
    transform: scale(1.06);
}
.about-ethiopia video{
    align-items: center;
    height: 50vh;
    margin: auto;
    display: flex;

}
.language-and-ethnicity h1{
    font-family: 'Rubik Vinyl', cursive;
        text-align:left;
        color: rgb(86, 62, 62);
        font-weight: 1700px
}
.main-block p{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(/Image/green.jpg);
    color: white;
    text-align: center;
    padding: 30px;
    margin: 10px;
}
.image-class{
    float: left;
    width: 50%;
    margin-right:0 ;
}
.image-class img{
    margin: 0 30px;
    border-radius:5% ;
}
.side-paragraph{
    float: right;
    width:50%;
    padding: 0px;
}
.language-and-ethnicity audio:hover,
.language-and-ethnicity audio:focus,
.language-and-ethnicity audio:active {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
    transform: scale(1.06);
}
.language-and-ethnicity audio {
    transition: all 0.5s linear;
    box-shadow: 2px 2px 4px 0px #006773;
    border-radius: 8px;
    width: 30%;
    height: 8vh;
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 800px){
    header h1{
        font-size: 20px;
    }
.image-class img {
    width:100vw;
    display: flex;
    transform: translate(-3em,-1em);
}
.side-paragraph{
    width: 100%;
    padding: 0px;
    display: flex;
}
video{
    width: 100%;
}
.guiding-block p{
    width: 100%;
}
.population-main-block{
    display: inline-block;
}
ol li{
    font-size: 15px;
}
ul li {
    font-size: 15px;
}
.image-block img{
    height: auto;

}
#title-heading{
    font-size: 30px;
}
.title-block p{
    font-size: 20px;
}
.time-and-climate h1,
.language-and-ethnicity h1,
.about-ethiopia h1, 
.population-main-block h1,
.land-and-topography h1{
    font-size: 25px;
}
table{
    width: 100%;
    margin: 0;
    }
}
.guiding-block p,.about-ethiopia p,.side-paragraph p,.population-main-block p,.time-and-climate p,.topography-side-paragraph p{
    font-size: 15px;
    font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;

}
/*the css code for the next component of teh page*/
/*####################################################
####################################################
####################################################*/

.population-main-block {
    margin: 50px 30px;
}
.population-main-block h1{
    font-family: 'Rubik Vinyl', cursive;
    text-align: left;
    color: rgb(86, 62, 62);
    font-weight: 1700px
}
.population-main-block p{
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(/Image/green.jpg);
        color: white;
        text-align: center;
        padding: 30px;
        margin: 10px;
}
table{
    width: 70%;
    margin:auto ;
    background-color: #aac0b9;
    
}
table,th,td {
    border: 10px solid rgb(255, 255, 255);
    border-radius: 4px;

        }
th,td {
    padding: 5px;
    }
th {
    text-align: center;
    height: 50px;
    font-size: 20px;
    }
tr:hover {
    background-color: rgb(17, 32, 20);
    color: white;
    transform: scale(1.02);
    }
tr {
    border-bottom: 2px solid gray;
}
.population audio {
    transition: all 0.5s linear;
    box-shadow: 2px 2px 4px 0px #006773;
    border-radius: 8px;
    width: 30%;
    height: 8vh;
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
}
.population audio:hover,
.population audio:focus,
.population audio:active {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
    transform: scale(1.06);
}
/*the css for the next component starts here*/
/*###################################################
########################################################
#########################################################*/
.time-and-climate h1{
font-family: 'Rubik Vinyl', cursive;
    text-align: left;
    color: rgb(86, 62, 62);
    font-weight: 1700px
}
.time-and-climate p{
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(/Image/green.jpg);
            color: white;
            text-align: center;
            padding: 30px;
            margin: 20px;
}
.time-and-climate audio {
    transition: all 0.5s linear;
    box-shadow: 2px 2px 4px 0px #006773;
    border-radius: 8px;
    width: 30%;
    height: 8vh;
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
}
.time-and-climate audio:hover,
.time-and-climate audio:focus,
.time-and-climate audio:active {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
    transform: scale(1.06);
}
/*the css code for the next component*/
/*###################################################
#####################################################
####################################################*/
.land-and-topography h1 {
    font-family: 'Rubik Vinyl', cursive;
    text-align: left;
    color: rgb(86, 62, 62);
    font-weight: 1700px
}
.topography-main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.topography-main-block img{
    max-width: 60%;
    height: 400px;
    float: left;
    border-radius: 10px;
    border: 3px solid wheat;
    margin-right: 15px;
}
.land-and-topography p {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(/Image/green.jpg);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}
@media screen and (max-width: 700px){
    .topography-main-block{
        display: block;
    }
}
@media screen and (max-width:800px){
body{font-size: 15px;}
.guiding-block p{
    margin: 20px auto;
}
}

.land-and-topography audio {
    transition: all 0.5s linear;
    box-shadow: 2px 2px 4px 0px #006773;
    border-radius: 8px;
    width: 30%;
    height: 8vh;
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
}
.land-and-topography audio:hover,
.land-and-topography audio:focus,
.land-and-topography audio:active {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
    transform: scale(1.06);
}
/* styling the footer and last link*/
/*#############################
###############################
##############################3*/
 footer p {
     text-align: center;
     font-family: 'Lobster Two', cursive;
     width: 100%;
     margin: auto;
     color: rgb(0, 0, 0);
 }

 #lastlink{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 10px;
    border-radius: 10px;
 }
 #lastlink:hover{
    background-color: rgb(121, 94, 94);
    padding: 15px;
    color: hotpink;
    border-radius: 20px;
 }
