/*the code for styling the header portion of the html document*/
hr {
    width: 70%;
}
.logo__image{
    width: 10%;
    height: 20%;
    border-radius: 50%;
}
.header_block h1 {
    text-transform: uppercase;
    line-height: 1em;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    font-size: 15px;
    font-family: Arial, sans-serif;
}
.navigation__links{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    float: right;
}
.navigation__links:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    letter-spacing: 1px;
}
.logo {
    display: inline;
    margin: 10px;
    top: 0;
}
.header_block{
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url(/Image/tisabay2.jpg);
    padding-top: 10px;
    margin-top:0 ;
    position:relative;
}
.navigation_block{
    display: inline;
}
/*the css code for the automatic image slider*/
/*############################################
##############################################
##############################################*/
.slider-block{
    overflow: hidden;
    width: 100%;
    height: 80vh;
}
.slide{
    float: left;
    width: 20%;
}
.sliding__image{
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}
.figure_block{
    position: relative;
    width: 500%;
    margin: 0;
    animation: animate 20s infinite;
}
@keyframes animate{
    0% {left: 0%;}
    25% {left: 0%;}
    30% {left:-100%;}
    50% {left:-100%;}
    55% {left:-200%;}
    75% {left:-200%;}
    80% {left:-300%;}
    100% {left:-300%;}
}
/*the css code for the next section of the page. the code for the image gallery part*/
/*##########################################
############################################
###########################################*/
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 1400px;
    margin: 0 auto;
  }
.gallery__images{
    width: 100%;
    max-width: 250px;
    height: 300px;
    border-radius: 10px;
}
.gallery::after {
    content: "";
    width: 350px;
}
.video_block{
    align-items: center;
    height: 50vh;
    margin: auto;
    display: flex;
}
.title_main_heading{
    font-family: 'Dancing Script',
        cursive;
    text-align: center;
}

.title_sub_heading{
    text-align: center;
}
caption{
    display: none;
}
/*code for the next section of the html part*/
/*#########################################
##########################################
###########################################*/
.paragraph__block__heading{
    font-family: 'Dancing Script',cursive;
    text-align: center;
    font-weight: 900px;
    color:rgb(69, 26, 26);
}
.last__paragraph__block__paragraph{
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0.1 ), rgba(0, 0, 0, 0.3)), url(/Image/tisabay2.jpg);
        padding: 30px 5px;
        margin: 40px 80px;
        font-family: sans-serif;
}
ul{
    background: linear-gradient(rgba(0, 0, 0, 0.9 ), rgba(0, 0, 0, 0.6)), url(/Image/tisabay2.jpg);
    padding: 40px;
    color: white;
    margin:15px;
    text-align:justify;
    line-height: 30px;
    border-radius: 40px;
}
.unorder_lists{
    font-family:sans-serif;
}
/*the code for the last section*/
#footer-link:hover{
        background-color: rgb(121, 94, 94);
            padding: 15px;
            color: rgb(244, 0, 122);
            border-radius: 20px;
}
 #footer-link {
     text-decoration: none;
     color: rgb(255, 255, 255);
     background-color: black;
     padding: 10px;
     border-radius: 10px;
     text-align: center;
}
.footer__paragraph{
     text-align: center;
     font-family: 'Lobster Two', cursive;
     width: 100%;
     margin: auto;
     color: rgb(0, 0, 0);
 }
 @media screen and (max-width:800px){
    .slider-block{height:70vh ;}
    #top-header{font-size:26px;}
    .title_main_heading{font-size: 30px;}
    .title_sub_heading{font-size: 26px;}
    .paragraph__block__heading{font-size: 26px;}
    .last__paragraph__block__paragraph{
        width: 100%;
        margin: 0;
        padding: 5px;
        font-size: 15px;
    }
    video{
        width: 90vw;
    }
}
#caption{
    text-align: center;
}