body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    max-width:100vw;
}
*{
    box-sizing: border-box;
    font-size: 15px;
    
}
.horizontal_line{
    width: 70%;
    height: 10px;
    background-color: rgb(66, 60, 60);
}
.slider_block {
    overflow: hidden;
    width: 100%;
    height: 650px;
    border: 1px solid white;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    position: relative;
}
.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}
.main__title{
position: absolute;
text-transform: uppercase;
line-height:1em;
top: 40%;
width: 100%;
text-align: center;
font-size: 3.5em;
color: rgb(255, 255, 255);
font-weight: 800;
}
#home_link{
    color: hotpink;
}
#home_link:hover{
    background-color: transparent;
}
.front__heading__paragraph{
    position: absolute;
    text-transform: uppercase;
    top: 60%;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 2em;
}
.logo__image{
    width: 140px;
    height: auto;
    border-radius: 50%;
}
.slides {
    width: 500%;
    height: 350px;
    display: flex;
}
.input__radios{
    display: none;
}
.slide {
    width: 20%;
    transition: 3s;
}
.slide__images{
    width: 100%;
    height: 650px;
}
.navigation{
    position: absolute;
    top: 20px;
    right: 20px;
}
.extending_links:link {
    text-decoration: none;
    padding: 20px;
    color: black;
    font-weight: bolder;
    font-size: 15px;
}
.navigation_links{
    text-decoration: none;
    color: rgb(255, 255, 255);
    top: 0;
    padding: 5px 20px;
    float: right;
}
.navigation_links:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-decoration:none;
}
#link,#link2,#link3,#link4{
        font-size: 0.8em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background: rgb(218, 200, 200);
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            margin-top: 10px;
            color: #111;
            letter-spacing: 1px;
            transition: 0.3s;
}
#link:hover,#link2:hover,#link3:hover,#link4:hover{
    letter-spacing: 3px;
    font-weight: 800;
}
/*css for manual slide navigation*/
/*#################################################*/
.navigation_manual {
    transform: translateX(-50%);
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    bottom: 20px;
}
.manual__buttons {
    margin-right: 10px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    border: 2px solid rgb(255, 201, 201);
    width: 20px;
}
.manual__buttons:not(:last-child) {
    margin-right: 30px;
}
.manual__buttons:hover {
    background: #ffffff;
}
#radio1:checked~.first {margin-left: 0;}
#radio2:checked~.first {margin-left: -20%;}
#radio3:checked~.first {margin-left: -40%;}
#radio4:checked~.first {margin-left: -60%;}
#radio5:checked~.first {margin-left: -80%;}

/*css for automatic navigation*/
/*###############################################3*/
/*.navigation-auto {
    position: absolute;
    justify-content: center;
    margin-top: 460px;
    display: flex;
    width: 800px;
}
.navigation-auto div {
    border-radius: 10px;
    transition: 1s;
    border: 3px solid #c43af3;
    padding: 5px;
    width: 30px;
}*/
/*.navigation-auto div:not(:last-child) {margin-right: 40px;}
#radio1:checked~.navigation-auto .auto-btn1 {background: #c43af3;}
#radio2:checked~.navigation-auto .auto-btn2 {background: #c43af3;}
#radio3:checked~.navigation-auto .auto-btn3 {background: #c43af3;}
#radio4:checked~.navigation-auto .auto-btn4 {background: #c43af3;}*/
/* the code after is css for about Ethiopia next to the hero image at the top.*/
/*###########################################################################3*/
/*css for manual slide navigation*/
/*#####################################################*/
.side_paragraph_div_block {
    width:60%;
    text-align: justify;
    margin-right: 1.5em;
}
.side__paragraph{
    font-size: 15px;
}
.side-image{
    width: 40%;
}
.side-image img{
    width:85%;
    height: 100%;
}
.About-ethiopia {
    display: flex;
    justify-content: center;
    width: 90%;
}
.second-block {
    margin-top: 80px;
    text-align: center;
}
.second-block h1 {
    font-size: 30px;
    font-weight: bold;
    color: #444;
}
/*this code is for the autimatc image slider in categiries and services in the next  component*/
/**********************************************
***********************************************/
.container {
    width: 268px;
    height: 310px;
    position: relative;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 5px solid rgb(200, 174, 174);
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgb(58, 44, 58);
    background-color: wheat;
    top: 25%;
    left: 15%;
}
.wrapper {
    width: 100%;
    display: flex;
    animation: slide 15s infinite;
}
.wrapper_image{
    width: 100%;
}
@keyframes slide {
0% {transform: translate(0);}
25% {transform: translate(0);}
30% {transform: translate(-100%);}
50% {transform: translate(-100%);}
55% {transform: translate(-200%);}
75% {transform: translate(-200%);}
80% {transform: translate(-300%);}
100% {transform: translate(-300%);}
}
/*#################################################*/
@media screen and (max-width:700px) 
{
.About-ethiopia {display: inline-block;}
.main__title{font-size: 40px;}
.front__heading__paragraph{font-size: 20px;}
.side_paragraph_div_block {
        width: 100vw;
        text-align: justify;
        margin: 0 3em;
        margin-right: 20px;
        padding-right: 40px;
    }
.slider_block,
.slide {
    height: 70vh;
}
.logo__image{width: 6em; height: 6em;}
.side__paragraph{width: 80%; font-size: 13.5px;}
.side-image {width: 100%;}
}
@media screen and (max-width:800px) {
.the_side_paragraph {
    width: 100%;
    position:absolute;
    transform: translate(6.5em, 17em);
    }
.block-Accomoadations,
.block-Destinations,
.block-ETholidays{margin-bottom:17em ;}
.container {
    width: 220px;
    height: 80%;
    transform: translate(0em, -10em);
}
#link,#link2,#link3{
    font-size:10px ;
}
.options_div_block{
    transform: translate(-5em,2em);
    }
}
.titles_block {width: 50%;}
.titles__main__heading{
    font-size: 30px;
    text-align: center;
    color: green;
}
.titles__sub__heading{
    font-size: 25px;
    text-align: center;
}
ul {
    font-size: 18px;
}
.block-ETholidays,
.block-Destinations,
.block-Accomoadations {
    display: flex;
}
.automatic-image-slider {
    width: 20%;
    align-items: center;
    text-align: center;
    margin: 100px 0 0 200px
}
.the_side_paragraph {
    width: 70%;
    text-align: justify;
    padding: 20px;
    margin: 20px 40px;
}
.head-title {
    text-align: center;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.footer_paragraph{
     text-align: center;
     font-family: 'Lobster Two', cursive;
     width: 100%;
     margin: auto;
     color: rgb(0, 0, 0);
 }